body{
    
    background: url(/images/bg-desktop.svg) indigo center;
    height: 100%;
    color: white;
    vertical-align: top;
    
}
section{
    display: flex;
}
button{
    margin-top: 10px;
    text-align: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    width: 100px;
    outline: none;
    border: none;
    margin-left: 15px;
    text-align: center;
}

.logo{
    margin-bottom: 30px;
}
i{
    border-radius: 50%;
    border: 1px double;
    padding: 10px;
   float: right;
   margin-right:3px ;
}

