body{
    background: purple url(/images/bg-desktop.svg) center;
    
    
}
h1,h2,p{
    color: white;
}
section{
    display: flex;
    flex-direction: row;
    
}
div{
    display: flex;
    flex-direction: row;
    
}
i{
    padding: 10px;
    border-radius: 50%;
    background-color: lightgrey;
}
