.form-container{
    background-color: lightseagreen;
    padding: 15px;
    margin: 20px;
    color: white;
    width: 20%;
}
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}
.input-cnt{
    margin-bottom: 15px;
}
.input-cnt>input[type="text"], .input-cnt>input[type="email"], .input-cnt>input[type="password"]{
border: 1px solid gray;
outline: none;
padding: 10px;
border-top-right-radius: 20px;
border-bottom-right-radius:20px ;
width: 80%;
}
